{% extends "base.html" %}
{% block content %}
	<h1>Your sent messages</h1>
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<div class="list-group">
				{% if user_messages != []%}
					{% for message in user_messages%}
						<a href="{{url_for('show_message',id = message['id'])}}" type="button" class="list-group-item"><div>{{message['subject']}} </div> <div>To:{{message['to']}}</div></a>
					{% endfor %}
				{% else %}
					<h2>seems like you have no messages</h2>
				{% endif %}
			</div>
			<div class="col-2"></div>
		</div>
	</div>
{% endblock %}